<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4b9ba14b0f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename= 'css/500.css')}}">
    <title>Exordium-Error 500</title>
</head>

<body>

    <body>
        <div class="mainbox">
            <div class="err">5</div>
            <div class="err2">0</div>
            <div class="err3">0</div>
            <div class="msg">
                <h1>An unexpected error has occurred</h1>
                <p>The administrator has been notified. Sorry for the inconvenience!</p>
                <p>Let's go <a href="/">home</a> and try from there.</p>
            </div>
        </div>
    </body>

</html>