<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4b9ba14b0f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename= 'css/IntError.css')}}">
    <title>Exordium-Page Not Found</title>
</head>

<body>

    <body>
        <div class="mainbox">
            <div class="err">ERROR</div>
            <div class="msg">
                You have Already Responded<br>
                You can fill out this form only once
                <p>Try contacting owner of the form if you think this is a mistake</p>
            </div>
        </div>
    </body>

</html>