<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>Exordium-Registration Successful</title>
    <link rel="stylesheet" href="{{ url_for('static',filename= 'css/styles.css')}}" />
</head>

<body>
    <div class="mainscreen">
        <div class="topimg">
            <img style="width: 50%; text-align: center" src="{{ url_for('static',filename= 'assets/LogoMockup.png')}}"
                alt="" srcset="" />
        </div>
        <!-- <div class="toppart" style="
    margin-right: 32px;
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 32px;
  ">
        </div> -->
        <div class="success">
            <h1>Registration Successful</h1>
        </div>

    </div>
    <!-- <script src="{{ url_for('static',filename= 'js/script.js')}}"></script> -->
</body>

</html>